/*---ПОДКЛЮЧЕНИЕ-ОБНУЛЯЮЩЕГО-СТИЛЯ--------------*/
@import "nuls.scss";

/*---ПОДКЛЮЧЕНИЕ-ИКОНОК-------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*---ПОДКЛЮЧЕНИЕ-ШРИФТОВ------------------------*/
@font-face {
	font-family: Belinda;
	src: url("../fonts/font/BelindaRegular.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: Nexa;
	src: url("../fonts/Nexa-Regular.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: "PT Sans Regular";
	src: url("../fonts/PTSansPro-Regular.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: "PT Sans Bold";
	src: url("../fonts/PTSansPro-Bold.ttf") format("truetype");
	font-style: normal; 
	font-weight: 600;
}

/*---ИСПОЛЬЗУЕМЫЕ-ЦВЕТА-------------------------*/
$white: #fff;
$light: #f5f5f5;
$light-grey: #999;
$back: #eaeaeb;
$grey: #d2d5da;
$dark-grey: #787b80;
$accent: #50c3af;
$accent-trans: rgba(80,195,175,0.7);
$dark-accent: #06292f;
$black: #000;

/*---ОСНОВНОЕ-----------------------------------*/
body {
	font-family: "PT Sans Regular", Montserrat;
	background-color: $back;
}

// Боди с заблокированным скроллом
body.lock {
	overflow: hidden;
}

// Оболочка
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная часть
main {
	flex: 1 1 auto;
}

// Ограничивающий контейнер
._container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// Фоновые фото
._ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

/*---ПОВТОРЯЮЩИЕСЯ-СТИЛИ------------------------*/
// Тайтл
.title {
	font-size: 18px;
	font-family: "PT Sans Bold";
	line-height: 160%;
	padding-bottom: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid $light-grey;
	display: inline-block;
}

// Текст
.text {
	font-size: 16px;
	line-height: 171%;
	color: $dark-grey;
	margin-top: 15px;
}

// Кнопка обычная
button.button {
	padding: 15px 30px;
	background-color: $accent;
	border-radius: 25px;
	text-align: center;
	color: $white;
	font-size: 16px;
	font-family: "PT Sans Bold";
	line-height: 160%;
	transition: all 0.5s ease 0s;
	text-transform: uppercase;
	border: 1px solid $accent;
	&:hover{
		background: linear-gradient(to top, transparent, $accent-trans);
		border: 1px solid $accent;
	}
}

// Кнопка серая
button.button-grey {
	padding: 15px 30px;
	border-radius: 25px;
	text-align: center;
	color: $white;
	font-size: 16px;
	font-family: "PT Sans Bold";
	line-height: 160%;
	background-color: $grey;
	border: 1px solid $grey;
	transition: all 0.5s ease 0s;
	text-transform: uppercase;
	&:hover{
		background-color: $back;
		color: $dark-accent;
		border: 1px solid $dark-accent;
	}
}

/*---ПОПАПЫ------------------------------------*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	z-index: 50;
}

// Модальное окно при открытии
.popup.open{
	opacity: 1;
	visibility: visible;
	.popup__content{
		opacity: 1;
	}
}

// Тело
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	color: #fff;
}

// Контент
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
	z-index: 50;
}

// Крестик
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	opacity: 0.7;
	transition: all 0.3s ease 0s;
	&:hover{
		opacity: 1;
		color: $accent;
	}
}



/*---ФИКСИРОВАННЫЙ-HEADER-----------------------*/
.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 50;
	padding: 15px 0;
	background: linear-gradient(to right, $accent-trans, $dark-accent);
}




/*---ПЕРВЫЙ-ЭКРАН-------------------------------*/
.first-screen {
	text-align: center;
	color: $white;
	padding: 100px 0;
	position: relative;
}

// Контейнер
.first-screen__container {
	z-index: -50;
	opacity: 0;
	transition: all 2s ease 1s;
	&._active {
		z-index: 10;
		opacity: 1;
	}
}

// Логотип
.first-screen__logo {
	font-family: Belinda, Montserrat;
	margin: 0 0 50px 0;
	font-size: 50px;
	line-height: 46%;
	font-weight: 800;
}

// Список меню
.menu__list {
	display: flex;
	justify-content: space-between;
	max-width: 300px;
	margin: 0 auto 75px;
	li a {
		font-size: 13px;
		font-weight: 600;
		line-height: 120%;
		color: $white;
		transition: all 0.5s ease 0s;
		&:hover{
			color: $dark-accent;
			border-bottom: 1px solid $dark-accent;
		}
	}
}

// Тайтл
.first-screen__title {
	margin: 0 0 50px 0;
	font-size: 50px;
	line-height: 46%;
	font-family: "PT Sans Bold";
}

// Сабтайтл
.first-screen__subtitle {
	margin: 0 0 80px 0;
	font-size: 16px;
	line-height: 160%;
	font-family: "PT Sans Bold";
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.first-screen__subtitle:before, .first-screen__subtitle:after {
	content: '';
	display: inline-block;
	width: 5%;
	height: 1px;
	background: $white;
	z-index: -1;
	position: relative;
	vertical-align: middle;
}
.first-screen__subtitle:before {
	right: 15px;
	margin: 0 0 0 -100%;
}
.first-screen__subtitle:after {
	left: 15px;
	margin: 0 -100% 0 0;
}

// Кнопка
button.first-screen__button {
	padding: 15px 50px;
}

// Фон
.first-screen__photo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

// Брейкпоинты
@media (max-width: 450px) {
	.first-screen__title {
		font-size: 40px;
		line-height: 130%;
		margin: 0 0 30px 0;
	}
}


/*---FEATURES-----------------------------------*/
.features {
	padding: 75px 0;
}

.features__container {}
.features__row {}

// Ряд
.features__row {
	display: flex;
	justify-content: space-between;
}

.features__card {}

// Айтем
.features__item {
	text-align: center;
}

// Иконки
.features__icon {
	img {
		min-height: 43px;
	}
	padding-bottom: 15px;
}

.features__title {}

// Текст
.features__text {
	max-width: 200px;
	margin: 15px auto 0;
}

// Брейкпоинты
@media (max-width: 767px) {
	.features__row {
		flex-direction: column;
		text-align: center;
	}
	.features__card:not(:last-child){
		margin-bottom: 75px;
	}
}



/*---SERVICES-----------------------------------*/
.services {
	background-color: #f5f5f5;
}

.services__container {}

// Ряд
.services__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -80px;
}

// Карточка
.services__card {
	padding: 0 80px;
}

// Айтем
.services__item {
	a {
		color: $accent;
		font-size: 14px;
		line-height: 171%;
		&:hover{
			color: $dark-accent;
		}
	}
}

// Фото
.services__photo {
	height: 200px;
	width: 100%;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	margin-bottom: 15px;
}

// Тайтл
.services__title {
	svg {
		margin-right: 10px;
	}
}

// Текст
.services__text {
	margin-bottom: 15px;
}

.services__button {}


// Часть 1
.services__part-1 {
	padding: 50px 0;
}

.services__row-1 {
	.services__card:first-child {
		transform: translate(-120%, 0px);
		opacity: 0;
		transition: all 1s ease 0s;
		&._active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
	.services__card:last-child {
		transform: translate(120%, 0px);
		opacity: 0;
		transition: all 1s ease 0s;
		&._active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
}

// Часть 2
.services__part-2 {
	padding: 50px 0;
	background-color: $back;
}

// Часть 3
.services__part-3 {
	padding: 50px 0;
	a {
		transition: all 0.5s ease 0s;
	}
}

.services__row-3 {}
.services__link {}

// Часть 4
.services__part-4 {
	background-color: $back;
	padding: 50px 0;
}

.services__row-4 {
	.services__card:first-child {
		transform: translate(-120%, 0px);
		opacity: 0;
		transition: all 1s ease 0s;
		&._active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
	.services__card:last-child {
		transform: translate(120%, 0px);
		opacity: 0;
		transition: all 1s ease 0s;
		&._active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
}

// Часть 5
.services__part-5 {
	padding: 50px 0;
	.services__row{
		margin: 0;
	}
	.services__card:first-child{
		flex: 0 0 50%;
		position: relative;
		padding: 0;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	button:hover{
		background-color: $light;
	}
}

// Брейкпоинты
// Часть 1
@media (max-width: 1000px) {
	.services__row-1 {
		margin: 0 -40px;
		.services__card {
			padding: 0 40px;
		}
	}
}
@media (max-width: 767px) {
	.services__row-1 {
		margin: 0 -30px;
		.services__card {
			padding: 0 30px;
		}
	}
}
@media (max-width: 576px) {
	.services__row-1 {
		display: block;
		.services__card:not(:last-child){
			margin-bottom: 50px;
		}
	}
}
// Часть 3
@media (max-width: 1200px) {
	.services__row-3 {
		margin: 0 -50px;
		.services__card {
			padding: 0 50px;
		}
	}
}
@media (max-width: 1100px) {
	.services__row-3 {
		margin: 0 -30px;
		.services__card {
			padding: 0 30px;
		}
	}
}
@media (max-width: 870px) {
	.services__row-3 {
		margin: 0 -20px;
		.services__card {
			padding: 0 20px;
		}
	}
}
@media (max-width: 767px) {
	.services__row-3 {
		display: block;
		.services__card:not(:last-child){
			margin-bottom: 50px;
		}
	}
}
// Часть 4
@media (max-width: 1020px) {
	.services__row-4 {
		margin: 0 -40px;
		.services__card {
			padding: 0 40px;
		}
	}
}
@media (max-width: 490px) {
	.services__row-4 {
		display: block;
		.services__card:not(:last-child){
			margin-bottom: 50px;
		}
	}
}
// Часть 5
@media (max-width: 767px) {
	.services__row-5 {
		display: block;
		.services__card:first-child{
			display: none;
		}
		.services__card:last-child{
			padding: 0;
		}
	}
}



/*---CONTACT------------------------------------*/
.contact {
	padding: 50px 0;
	background-color: $accent;
	color: $white;
	text-align: center;
}

.contact__container {}

// Тайтл
.contact__title {
	display: inline-block;
	color: $white;
	margin: 0 auto 70px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	svg {
		margin-right: 5px;
	}
}

// Контакты
.contact__links {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	p {
		font-size: 30px;
		&:first-child{
			font-family: Belinda;
		}
		&:nth-child(2){
			font-family: Nexa;
		}
	}
}

// Брейкпоинт
@media (max-width: 600px) {
	.contact__links {
		display: block;
		p:not(:last-child){
			margin-bottom: 15px;
		}
	}
}

/*---FOOTER-------------------------------------*/
.footer {
	padding: 30px 0;
	text-align: center;
}

.footer__container {}

// Ряд
.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// Текст
.footer__name {
	color: $dark-grey;
	font-size: 13px;
	line-height: 185%;
}

// Иконки
.footer__social {
	height: 100%;
	a {
		color: #000;
		svg {
			height: 100%;
		}
		&:not(:last-child){
			margin-right: 15px;
		}
	}
}

// Брейкпоинт
@media (max-width: 400px) {
	.footer__row {
		display: block;
	}
	.footer__name {
		margin-bottom: 15px;
	}
}